<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/application.css" media="all">
  
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="/css/ie7.css" media="all">
  <![endif]-->
  
  <script type="text/javascript" src="/assets/application.js"></script>
  
  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>
